#add-book-form {
    margin: 30px auto;
    border-radius: 7px ;
    width: 60%;
    padding: 30px;
    /* border: solid .5px #7E8181; */
    /* background-color: #8FDFD6; */
    color: #7E8181;
    font-weight: 500;
    background-color: #e3e3e3;
}

.form-button-container {
    text-align: right;
}

#add-book-button {
    /* background-color: #FFF5A3 !important; */
    background-color: transparent;
    border: solid 2px #7E8181;
    color: #7E8181;
    font-weight: 500;
}

#add-book-button:hover {
    background-color: #7E8181;
    color: #FFF;
    border: #7E8181 2px solid;

}

.date-label {
    margin: 0 5px 0 0;
}

input {
    color: #BFC0C0;
    border-radius: 5px; 
    border: solid 1px #dadcde;
}

.optional-info {
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    margin: 0 10px;
}

.form-header {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 30px;
}