#add-chapter-form {
    margin: 30px auto;
    border-radius: 5px ;
    width: 60%;
    padding: 30px;
    /* border: solid .5px #7E8181; */
    /* background-color: #dadcde; */
    color: #7E8181;
    font-weight: 500;
    background-color: #e3e3e3;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .4);
    border: 4px solid rgba(113, 113, 113, .3);
}

.form-button-container {
    text-align: right;
}

#add-chapter-button {
    /* background-color: #FFF5A3 !important; */
    background-color: transparent;
    border: solid 2px  rgba(107, 190, 201, 1);
    color: rgba(107, 190, 201, 1);
    font-weight: 500;
}

#add-chapter-button:hover {
    background-color: rgba(107, 190, 201, .9);
    color: #FFF;
    border: #7E8181 2px solid;

}
.date-label {
    margin: 0 5px 0 0;
}

input {
    color: #7E8181;
    border-radius: 5px; 
    border: solid 1px #dadcde;
}

.form-header {
    font-size: 30px;
    text-align: center;
    margin: 0 auto 30px;
    color: rgba(107, 190, 201, 1);
}
