#stats-container {
    /* box-sizing: border-box; */
    position: relative;
    /* border: 2px solid rgba(94, 166, 176, .5); */
    border: 7px solid rgba(151, 156, 156, .15 );
    border-radius: 3px;
    margin: 15px auto 30px;
    background-color: #e3e3e3;
    padding: 0;
    box-shadow: 4px 4px 8px rgba(48, 49, 49, .7);
    min-height: 190px;
    /* max-height: 65vh; */
    width: 98%;
}

.stats-header {
    text-align: center;
    font-size: 20px;
    /* font-weight: bold; */
    /* font-family: 'Shadows Into Light Two', sans-serif; */
    font-variant: small-caps;
    margin: 5px auto;
}

#stats-display {
   text-align: center;
   margin: 0px;
   padding: 5px 0 0px;
}

#left-arrow, #right-arrow {
    display: inline-block;
    font-size: 75px;
    font-weight: bold;
    color: rgba(77, 79, 79, .3);
    cursor: pointer;
    font-family: 'Calibri', sans-serif;
}

#left-arrow:hover, #right-arrow:hover {
    color: rgba(77, 79, 79, 1);
}

#left-arrow {
    position: absolute;
    top: 30%;
    left: 20px;
}

#right-arrow {
    position: absolute;
    top: 30%;
    right: 20px;
}

.chart-zero-view {
    vertical-align: middle;
    padding-top: 20px;
}



#progress-add-book-link {
    color: rgba(107, 190, 201, .9);
    font-weight: 500;
}

.current-stats {
    color: rgba(107, 190, 201, .9);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Shadows Into Light Two', sans-serif;
}

.stats-hr {
    width: 30%;
}