#goal-container {
    box-sizing: border-box;
    /* border: 2px solid rgba(210, 106, 90, .5); */
    border: 7px solid rgba(151, 156, 156, .15 );
    /* height: 35vh; */
    margin: 30px auto;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #e3e3e3;
    border-radius: 3px;
    min-height: 180px;
    box-shadow: 4px 4px 8px rgba(48, 49, 49, .7);
}