body {
    background-color: #4D4F4F;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 22px; */
}

a {
    color: rgba(107, 190, 201, .9);
    font-weight: 500;
}