header {
box-sizing: border-box;
   padding: 20px 0;
   width: 100%;
   border: 5px solid gray;
   margin: 0;
   background: rgba(0, 0, 0, .1)
}

#header-nav h1 {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 50px;
}

#header-nav a:hover {
text-decoration: none;
}

/* #header-nav {
    height: 20vh;
} */

#app-logo {
    
}

#app-logo-image {
    display: inline-block;
    width: 50px;
    float: right;
}