

#update-container {
    box-sizing: border-box;
    /* border: 5px solid rgba(214, 188, 94, .6); */
    /* height: 35vh; */
    margin: 15px auto;
    /* box-shadow: 2px 3px 10px #BFC0C0; */
    /* border: 2px solid rgba(214, 188, 94, .5); */
    border: 7px solid rgba(151, 156, 156, .15 );
    /* border: 7px solid rgba(227, 227, 227, .5 ); */
    box-shadow: 4px 4px 8px rgba(48, 49, 49, .7);
    border-radius: 3px;
    /* overflow-y: auto;
    overflow-x: hidden;  */
    overflow: hidden;
    background: rgba(227, 227, 227, 1 );
    min-height: 180px;
    padding: 0;
    max-height: 200vh;
    width: 98%;
}



h3.vertical-timeline-element-title {
    font-size: 20px;
}


.update-title {
    color: #fff;
    font-size: 18px !important;
    /* margin: 2px; */
    text-align: center;
    margin: 0 auto !important;
    font-family: 'Shadows Into Light Two', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
}

.update-subtitle {
    font-size: 14px !important;
    /* margin: 2px auto; */
    /* font-weight: bold !important; */
    color: #4D4F4F;
    text-align: center;
    margin: 0 auto !important;
}

.update-text {
    font-size: 14px !important;
    /* margin: 2x auto; */
    color: #4D4F4F;
    font-weight: 500 !important;
    text-align: center;
    margin: 0 auto !important;
}

.vertical-timeline-element-date {
    font-weight: 500 !important;
    color: #4D4F4F !important;
}

.vertical-timeline-element-content {
    padding: 12px !important; 
}

hr {
    margin: 10px auto !important;
}

#update-percent {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

#update-type {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    /* text-decoration: underline; */
}

.vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-date {
    right: 140% !important;
}

.vertical-timeline-element:nth-child(odd):not(.vertical-timeline-element--right) .vertical-timeline-element-date {
    left: 140% !important;
}
